/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:600,900');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Lato');
@import url("https://fonts.googleapis.com/css?family=Quicksand:500");

*{overflow: hidden;}

body {
  background-color: #212121;
  font-family: 'Lato', sans-serif;
  padding: 4px 25px;
  font-size: 18px;
  margin: 0;
  color: #ED4C67;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  text-align: center;
}

h3{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  vertical-align: top;
  text-align: left;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:#C4E538 6px solid;
}

ul{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  vertical-align: top;
  text-align: left;
  list-style: circle;
}
